.rmdb-moviethumb img {
	width: 500px;
	height: auto;
	max-width: 100%;
	max-height: 100%;
	transition: all 0.3s;
	box-sizing: border-box;
}

/*.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 230px;
	height: auto;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	bottom: 5%;
	left: 9%;
	opacity: 0;
	transition: opacity 0.3s;
	font-size: 15px;
}

.tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}
*/

.clickable {
	cursor: pointer;
}

.clickable:hover {
	opacity: 0.8;
}