@import './components/Header/Header.css';
@import './components/FourColGrid/FourColGrid.css';
@import './components/HeroImage/HeroImage.css';
@import './components/Home/Home.css';
@import './components/LoadMoreBtn/LoadMoreBtn.css';
@import './components/MovieThumb/MovieThumb.css';
@import './components/SearchBar/SearchBar.css';
@import './components/Spinner/Spinner.css';
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
